<header x-data="{ 'mobileNavOpened': false }" class="header relative md:static shadow-mota">

    <div class="header-container mx-auto w-3/4 md:w-4/5 flex justify-between items-center h-20">

        <a class="logo-link" href="{{ site.url }}">
            <img src="{{ theme.link }}/assets/img/logo.svg" alt="Logo" class="logo-img w-32 md:w-auto">
        </a>

        <!-- Mobile burger icon -->
        <img @click="mobileNavOpened = !mobileNavOpened"
            :src="mobileNavOpened ? '{{ theme.link }}/assets/img/close.svg' : '{{ theme.link }}/assets/img/burger.svg'"
            class="md:hidden" alt="Burger icon">

        <!-- Mobile nav -->
        <nav x-show="mobileNavOpened" @click="mobileNavOpened = !mobileNavOpened"
            x-transition:enter="transition ease-out duration-500" x-transition:enter-start="opacity-0 "
            x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-500"
            x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
            class="mobile-nav z-50 absolute top-full left-0 h-[calc(100vh-80px)] w-full">
            <ul
                class="mobile-nav-list flex flex-col items-center justify-center gap-7 h-full bg-red text-white bg-mota-red uppercase font-spacemono text-4xl">

                {% include '/components/main-menu-items.twig' %}

            </ul>
        </nav>

        <!-- Desktop nav -->
        <nav class="desktop-nav hidden md:block md:static md:h-auto md:w-auto">
            <ul
                class="desktop-nav-list md:flex md:uppercase md:font-spacemono md:flex-row md:gap-11 md:text-black md:bg-white md:text-base">

                {% include '/components/main-menu-items.twig' %}

            </ul>
        </nav>
    </div>
</header>
