<header class="relative md:static shadow-mota">
    <div class="mx-auto w-3/4 md:w-4/5 flex justify-between items-center h-20">
      <a class="logo" href="{{ site.url }}">
        <img src="{{ theme.link }}/assets/img/logo.svg" alt="Logo" class="w-32 md:w-auto">
      </a>
      <img id="toggle-menu" class="md:hidden" src="{{ theme.link }}/assets/img/burger.svg" alt="Burger icon">
      {% include '/components/main_menu.twig' %}
    </div>
</header>
