<div class="w-dvw max-w-[1440px] relative">
    <img src="{{ hero_image_url }}" alt="{{ hero_image_alt }}" class="w-full h-auto">
    <h1 class="uppercase text-hero font-bold font-spacemono italic text-outline text-center
                   w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        {{ site.description }}
    </h1>
</div>
