<div id="photo-grid" class="grid grid-cols-1 gap-5 mt-5 mb-6 md:grid-cols-2 md:mt-12 md:mb-10">

    {% include '/components/photo-cards.twig' with {'photos': photos, 'page': page} %}

</div>

{% include '/components/lightbox.twig' with {'photos': photos} %}
