{% extends 'base.twig' %}

{% block content %}

<!-- Hero -->
<section class="relative md:-mx-[12.5%]">

    {% include '/components/hero.twig' %}

</section>


<!-- Filter -->
<search>

    {% include '/components/filter-form.twig' %}

</search>

<!-- Photos grid -->
<section class="mx-auto w-[318px] md:w-full">

    {% include '/components/photo-grid.twig' with {'photos': initial_set_photos, 'page': 1} %}

    {% include '/components/load-more-button.twig' %}


</section>

{% endblock %}
