body {
  max-width: var(--site-full-width);
  margin: auto;
  width: 100%;
}

.content {
  max-width: var(--site-content-width);
  /* width: 80%; */
  margin: auto;
}

/* Responsive adjustments */
@media (max-width: var(--site-full-width)) {

  body,
  .content {
    width: auto;
  }
}


@media (max-width: 375px) {

  .content {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
