:root {
  --primary-color: #E00000;
  --primary-light-color: #FE5858;
  --primary-lighter-color: #FFD6D6;
  --site-full-width: 1440px;
  --site-content-width: 80%;
  --text-color: #000000;
  --menu-font: 'Space Mono';
  --menu-font-size: 16px;
  --menu-font-size-mobile: 44px;
  --header-height: 80px;
  --footer-height: 40px;
  --header-menu-gap: 45px;
  --footer-menu-gap: 86px;
}
